@media(max-width: 1700px) and (min-width: 1200px) {
    nav li a {
        font-size: 20px;
    }

    header {
        width: 102vw;
        overflow: hidden;
    }

    nav li input {
        width: 175px;
        padding: 4px 4px;
    }

    nav li a {
        font-size: 15px;
    }

    .image .p {
        font-size: 35px;
    }

    .image img {
        position: relative;
        top: 0px;
    }

    .box {
        height: 200px;
        width: 200px;
    }

    .box img {
        height: 188px;
        width: 180px;
    }
}

@media(max-width: 1200px) and (min-width: 0px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
}

@media (max-width: 1200px) and (min-width: 0px) {
    header {
        display: flex;
        justify-content: flex-start;
        /* position:  */
        width: 104vw;
        overflow: hidden;

    }

    section .p {
        font-size: 40px;
    }

    nav ul {
        flex-wrap: nowrap;
    }

    nav li {
        margin: 1px;
    }

    nav li a {
        font-size: 15px;
        padding-left: 2px;
    }

    nav li input {
        padding: 3px 2px;
        border-radius: 14px;
        border: 2px solid gray;
    }

    .left {
        font-size: 20px;
    }
}

@media (max-width: 414px) and (min-width: 391px) {
    section {
        position: relative;
        top: 20px;
        overflow: hidden;
    }

    header {
        display: flex;
        justify-content: left;
        position: sticky;
        z-index: 10;
        top: 0px;
        width: 102vw;
        overflow: hidden;
    }

    .left {
        font-size: 15px;
    }

    nav li a {
        font-size: 10px;
    }

    nav li input {
        width: 43px;
        padding: 1px 4px;
    }
}

@media (max-width: 390px) and (min-width: 0px) {
    section {
        position: relative;
        top: 30px;
    }

    header {
        display: flex;
        justify-content: left;
        position: sticky;
        z-index: 10;
        top: 0px;
        width: 103vw;
        overflow: hidden;

    }

    nav li a {
        font-size: 10px;
    }

    nav li input {
        width: 45px;
        padding: 1px 4px;
    }

    .left {
        font-size: 15px;
    }
}

@media (max-width: 850px) and (min-width: 0px) {
    .box {
        height: 175px;
        width: 175px;
    }

    .box img {
        height: 150px;
        width: 150px;
    }
}

@media (max-width: 1650px) and (min-width: 1200) {
    .cards {
        flex-wrap: wrap;
        justify-content: center;
        /* align-items: center; */
    }
}

@media(max-width: 520px) and (min-width: 400px) {
    nav li a {
        font-size: 13px;
    }

    nav li input {
        width: 45px;
        padding: 1px 2px;
    }
}

@media(max-width: 560px) and (min-width: 526px) {
    nav li a {
        font-size: 15px;
    }

    nav li input {
        width: 55px;
        padding: 1px 2px;
    }
}
/* @media(max-width: 1200px) and (min-width: 0px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
} */

@media (max-width: 1200px) and (min-width: 0px) {
    /* header {
        display: flex;
        justify-content: flex-start;
        position: 

    } */

    section .p {
        font-size: 40px;
    }
}

@media (max-width: 414px) and (min-width: 390px) {
    .desContent {
        font-size: 25px;
    }
    .title p {
        font-size: 25px;
        text-align: center;
    }
    .description li p {
        font-size: 23px;
        overflow: hidden;
    }
}

@media (max-width: 390px) and (min-width: 0px) {
    .desContent {
        font-size: 25px;
    }
    .description li p{
        font-size: 25px;
    }
    .title p {
        font-size: 25px;
        text-align: center;
    }
}
