@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Lato&family=Roboto&family=Ubuntu:wght@300&display=swap');

.container {
    /* border: 2px solid black; */
    position: relative;
    top: 60px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.imageBox img{
   width: 350px;
   height: 350px;

}

.infoBox {
    /* border: 2px solid blue; */
    margin: 40px 100px;
    width: 500px;
}
.title p {
    font-size: 30px;
    margin: 8px 0;
}
.description {
    width: 400px;
}
.descontent {
    width: 300px;
    font-size: 30px;
}

.description li {
    padding: 10px 15px;
    list-style: none;
}
.purchase  {
    position: relative;
    top: 40px;
    /* border: 2px solid black; */
    /* height: 50px; */
}

.purchase div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.purchase div input {
    width: 40px;
    padding: 1px 8px;
    border: 1px solid rgb(222, 221, 221);
    /* box-shadow: 1px 1px 2px gray; */
    font-size: 20px;
    height: 50px;
}
.purchase button {
    margin-top: 2px;
    margin-left: 12px;
    padding: 10px 20px;
    background:none;
    background-color: #4c6ef6;
    border: none;
    font-size: 20px;
    transition: all;
    transition-duration: 0.2s;
    transition-delay: 0.03s;
    border-radius: 8px;
    color: white;

}
.purchase button:hover {
    background-color: #395ff3;
}
